## This is a template for local.properties.
# Copy this file to 'local.properties' and fill in your personal keys and configuration.

# Location of the SDK.
sdk.dir=PATH_TO_YOUR_ANDROID_SDK

# Supabase configuration
SUPABASE_URL=YOUR_SUPABASE_URL
SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY

# API Keys
EXERCISE_DB_API_KEY=YOUR_EXERCISE_DB_API_KEY

# Google Auth configuration
GOOGLE_WEB_CLIENT_ID=YOUR_GOOGLE_WEB_CLIENT_ID
